@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  max-width: 100%;
}

.heading {
  display: flex;
  flex-grow: column;
  width: 1450px;
  height: 72px;
  left: 0;
  top: 0;
  margin: auto;
  justify-content: space-between;
  background-color: #fff;
}

.conlogo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  height: auto;
}

#logo {
  width: 76px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  transition: transform 0.4s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
}

.conthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-height: auto;
}

#portfolio {
  width: 62px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: #344563;
  transition: transform 0.4s ease-in-out;
}

#portfolio:hover {
  transform: scale(1.1);
}

#about {
  width: 62px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: #344563;
  transition: transform 0.4s ease-in-out;
}

#about:hover {
  transform: scale(1.1);
}

#contact {
  width: 62px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: #344563;
  transition: transform 0.4s ease-in-out;
}

#contact:hover {
  transform: scale(1.1);
}

#mobile-nav {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

#mobile-nav.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(96, 112, 255, 0.9);
}

#menu {
  display: block;
  cursor: pointer;
}

#menu.active {
  float: right;
  margin-top: 20px;
  margin-right: 35px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#nav {
  display: none;
}

#link {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1440px;
  height: 916px;
  top: 1px;
  left: 34.6px;
  margin: 0 auto;
  background: #fff url(../images/Headerbg.png);
  border-bottom-left-radius: 80px;
  position: relative;
}

.head {
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  width: 920px;
  height: 122px;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #172b4d;
  padding: 128px 24px 0;
}

.content1 {
  flex: none;
  flex-grow: 0;
  order: 1;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 920px;
  height: 98px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin: 12px 24px;
}

.connect {
  flex: none;
  flex-grow: 0;
  order: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 117px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-icons {
  display: flex;
  gap: 15px;
  margin-left: -15px;
  width: 160px;
  list-style-type: none;
  animation: width-change 1s ease-in-out 0.5s 1;
  color: #505f79;
}

.grid-container {
  display: flex;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  width: 1450px;
  height: 5000px;
  margin: 0 auto;
  background-color: #e5e5e5;
  gap: 2px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.works-card-tonic {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 1156px;
  height: 496px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  position: absolute;
  left: 142px;
  right: 142px;
  top: 1059px;
  bottom: 3570px;
  list-style: none;
}

.card-tonic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.card-tonic2 {
  position: absolute;
  width: 588px;
  height: 448px;
  border-radius: 8px;
  top: 24px;
  left: 24px;
}

.card-tonic1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  width: 588px;
  height: 448px;
  border-radius: 8px;
  top: 24px;
  right: 24px;
  left: 600px;
}

.newme-title-tonic {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 496px;
  height: 46px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  left: 614px;
  right: 48px;
  top: 48px;
  bottom: 402px;
  list-style: none;
}

.card-tonic3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  padding: 0;
  gap: 12px;
  width: 75px;
  height: 24px;
  border-radius: 8px;
  top: 114px;
  right: 240px;
  left: 600px;
}

.wordcanopi {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 75px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  list-style: none;
}

.wordback {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 120px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
  list-style: none;
}

.word2015 {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 38px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
  list-style: none;
}

.dot {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 8px;
  height: 8px;
}

.description-tonic {
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  width: 496px;
  height: 50px;
  top: 170px;
  left: 614px;
  bottom: 276px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  list-style: none;
}

.card-tonic4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 5px;
  position: absolute;
  width: 280px;
  height: 24px;
  border-radius: 8px;
  top: 248px;
  right: 350px;
  left: 625px;
}

.tonichtml {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 614px;
  right: 489px;
  top: 244;
  bottom: 228px;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.toniccss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 675px;
  right: 436px;
  top: 244;
  bottom: 228px;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.tonicJava {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 2;
  flex-grow: 0;
  left: 728px;
  right: 339px;
  top: 244px;
  bottom: 228px;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.buttontonic {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
  position: absolute;
  top: 320px;
  left: 626px;
  right: 428px;
  bottom: 152px;
  width: 496px;
  height: 153px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.go-buttontonic {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 126px;
  height: 48px;
  top: 16px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: Poppins, 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
}

.go-buttontonic:hover {
  transform: scale(1.1);
  background-color: rgb(57, 109, 242);
  color: rgb(223, 225, 230);
}

/*multip*/

.work-card-multip {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 1156px;
  height: 496px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  position: absolute;
  left: 142px;
  right: 142px;
  top: 1697px;
  bottom: 2932px;
  list-style: none;
}

.multi-post-stories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.multi-post-stories1 {
  position: absolute;
  width: 544px;
  height: 448px;
  border-radius: 8px;
  top: 24px;
  left: 590px;
}

.card-post1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  width: 496px;
  height: 46px;
  border-radius: 8px;
  top: 48px;
  right: 612px;
  left: 48px;
}

.newme-title-post {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 496px;
  height: 46px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  left: 48px;
  right: 612px;
  top: 48px;
  bottom: 402px;
  list-style: none;
}

.card-post3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  width: 320px;
  height: 40px;
  top: 106px;
  right: 788px;
  left: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.wordfacebook {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 96px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  list-style: none;
}

.wordfull {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 122px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
  list-style: none;
}

.word20151 {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 38px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
  list-style: none;
}

.description-post {
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  width: 496px;
  height: 70px;
  top: 170px;
  left: 48px;
  bottom: 256px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  list-style: none;
}

.card-post4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 5px;
  position: absolute;
  width: 400px;
  height: 24px;
  top: 264px;
  right: 792px;
  left: 48px;
}

.posthtml {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 48px;
  right: 1055px;
  top: 264px;
  bottom: 208px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.postruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 105px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 109px;
  right: 942px;
  top: 264px;
  bottom: 208px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.postcss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 2;
  flex-grow: 0;
  left: 222px;
  right: 889px;
  top: 264px;
  bottom: 208px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.postJava {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
  flex: none;
  order: 3;
  flex-grow: 0;
  left: 275px;
  right: 792px;
  top: 264px;
  bottom: 208px;
  list-style: none;
  color: #6070ff;
  font-family: Poppins, 'Source Sans Pro';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.buttonpost {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
  position: absolute;
  width: 102px;
  height: 24px;
  top: 340px;
  left: 60px;
  right: 994px;
  bottom: 132px;
}

.go-buttonpost {
  box-sizing: border-box;
  align-items: center;
  width: 102px;
  height: 24px;
  letter-spacing: 0.03em;
  border: solid #396df2;
  border-radius: 8px;
  background-color: #fff;
  font-family: Poppins, 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
}

.go-buttonpost:hover {
  transform: scale(1.1);
  background-color: rgb(57, 109, 242);
  color: rgb(223, 225, 230);
}

/*facebook*/

.work-card-facebook360 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 1156px;
  height: 496px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  position: absolute;
  left: 142px;
  right: 142px;
  top: 2335px;
  bottom: 2294px;
  list-style: none;
}

.facebook-360 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.facebook-3601 {
  position: absolute;
  width: 544px;
  height: 448px;
  border-radius: 8px;
  top: 24px;
  left: 24px;
}

/*uber*/

.work-card-ubernav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 1156px;
  height: 496px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  position: absolute;
  left: 142px;
  right: 142px;
  top: 2973px;
  bottom: 1656px;
  list-style: none;
}

.uber-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.uber-navigation1 {
  position: absolute;
  width: 544px;
  height: 448px;
  border-radius: 8px;
  top: 24px;
  left: 590px;
}